@model CIADatabase.Areas.GWOT.GWOTSections

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex flex-column align-items-center mt-5">
    <!-- Title -->
    <h2 class="text-center mb-4 text-danger">Delete Section</h2>

    <!-- Section Details -->
    <div class="w-100" style="max-width: 400px;">
        <h4 class="text-center">Are you sure you want to delete this section?</h4>
        <hr />
        <dl class="text-center">
            <dt class="font-weight-bold">@Html.DisplayNameFor(model => model.Title)</dt>
            <dd class="mb-3">@Html.DisplayFor(model => model.Title)</dd>
        </dl>
    </div>

    <!-- Action Buttons -->
    <div class="mt-4 w-100 d-flex flex-column align-items-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger btn-lg mb-3" style="width: 300px;">Delete</button>
        }
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn custom-btn btn-lg mb-3", style = "width: 300px;" })
    </div>
</div>
